.Layout {
    display: grid;
    place-content: center;
}

.container {
    margin: 35px 0 20px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;

    min-width: 100%;
    width: 400px;
    padding: 5px;

    background-color: #828180;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

    @media screen and (max-width: 768px) {
        width: 250px;
    }
}

.circul {
    border-radius: 50%;
    min-width: 10px;
    min-height: 10px;
    margin: 5px;

    &:nth-child(1) {
        background-color: #dc6e67;
    }

    &:nth-child(2) {
        background-color: #e9bd4a;
    }

    &:nth-child(3) {
        background-color: #3cb852;
    }
}

.main {
    height: 300px;
    padding: 15px;

    background-color: #555555;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    @media screen and (max-width: 992px) {
        height: 250px;
    }
}
