.card {
    border-radius: 8px;

    background-color: #80e9ff;
    margin: 0 16px;
    padding-bottom: 20px;

    box-shadow: 0px 18px 36px -18px rgba(0, 0, 0, 0.1),
        0px 30px 45px -30px rgba(50, 50, 93, 0.25);

    transition: all 0.4s ease;

    @media screen and (max-width: 992px) {
        max-width: 400px;
        margin: 0 auto;
    }

    & img {
        background-size: cover;
        background-position: center;
        padding: 5px;
        border-radius: 8px;
        max-height: 180px;
        width: 100%;

        transition: all 0.4s ease;
        opacity: 0.8;
    }

    & p {
        padding: 16px;
        line-height: 1.2;
    }

    &:hover {
        transform: scale(1.05);

        & img {
            opacity: 1;
        }
    }
}
