.desktop {
    display: block;
    width: 100%;

    @media screen and (max-width: 992px) {
        display: none;
    }

    & ul {
        display: flex;
        flex-direction: row;
        width: 100%;

        & li {
            text-transform: capitalize;

            &:first-child {
                padding-left: 15px;
            }

            &:last-child {
                margin-left: auto;
                padding-right: 15px;
            }
        }
    }

    & a {
        padding: 10px 15px;
        color: white;
        font-size: 1.6rem;
        text-transform: capitalize;
        transition: all 0.4s ease;

        &:hover {
            color: aqua;
            cursor: pointer;
        }
    }
}

.mobile {
    & ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    & li {
        padding: 20px 0;
    }

    & a {
        padding: 20px;
        color: white;
        font-size: 1.6rem;
        text-transform: capitalize;
        transition: all 0.4s ease;
    }
}

.footer {
    display: grid !important;
    grid-gap: 10px;

    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;

    & li:first-child {
        padding: 5px !important;
    }

    & li {
        margin: 0 !important;
    }
}

.mark {
    & a {
        color: aqua;
        cursor: default !important;
    }
}
