.container {
    max-width: 85%;
    width: 100%;
    margin: 0 auto;
    padding: 20px 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    z-index: 2;

    @media screen and (min-width: 1490px) {
        max-width: 1440px;
    }

    @media screen and (max-width: 425px) {
        max-width: 100%;
    }

    & svg {
        will-change: filter;
        transition: filter 300ms;

        &:hover {
            filter: drop-shadow(0 0 2em #646cffaa);
        }
    }
}

.visible {
    display: block;

    @media screen and (max-width: 992px) {
        display: none;
    }
}

.positionAbsolute {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    // left: 50%;
    // transform: translate(-50%, 0);
}
