.container {
    max-width: 85%;
    margin: 0 auto;
    padding: 100px 16px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;

    @media screen and (max-width: 992px) {
        display: flex;
        flex-direction: column;
        padding: 30px 16px;
    }

    @media screen and (max-width: 425px) {
        max-width: 95%;
    }
}

.itemSvg {
    margin-left: auto;

    @media screen and (max-width: 992px) {
        display: none;
    }
}
