.container {
    max-width: 85%;
    margin: 0 auto;
    padding: 100px 16px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
}

.itemSvg {
    margin-left: auto;
}
