.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 100px 16px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
}

.item {
    text-align: start;
    min-height: 470px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    & h1 {
        font-size: 94px;
    }

    & p {
        font-size: 18px;
        padding: 0 100px 0 0;
        line-height: 1.4;
    }

    & button {
        width: fit-content;
    }
}

.itemSvg {
    margin-left: auto;
}
