.container {
    padding: 100px 15px 50px;

    background-color: #313131;
}

.navigation {
    max-width: 80%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    & ul li {
        text-align: start;
        padding: 5px;
        cursor: pointer;

        & a {
            color: white;
        }
    }
}
