.wrapper {
    transform: skewY(-3deg);
    transform-origin: top left;
    // background-color: #313131;
    background-color: #242424;

    z-index: 3;
}

.disTransf {
    transform: none !important;
}

.container {
    padding: 100px 0 0 0;

    transform: skewY(3deg);

    & p {
        padding: 50px 0 0 0;
        text-align: center;
    }
}

.navigation {
    margin: 0 auto;
    max-width: 85%;

    display: grid;
    grid-template-columns: 1fr 2fr;

    @media screen and (max-width: 425px) {
        max-width: 95%;
    }

    & svg {
        will-change: filter;
        transition: filter 300ms;

        &:hover {
            filter: drop-shadow(0 0 2em #646cffaa);
            cursor: pointer;
        }

        @media screen and (max-width: 425px) {
            display: none;
        }
    }

    & h4 {
        font-size: 1.2rem;
        font-weight: 800;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }

    & ul li {
        text-align: start;
        padding: 5px;
        cursor: pointer;
        text-transform: capitalize;

        & a {
            display: flex;
            align-items: center;
            color: white;
            transition: all 0.4s ease;

            &:hover {
                color: aqua;
                cursor: pointer;
            }
        }
    }
}
