.wrapper {
    transform: skewY(-3deg);
    transform-origin: top left;
    // background-color: #313131;
    background-color: #242424;
}

.container {
    padding: 100px 15px 0px;

    transform: skewY(3deg);

    & p {
        padding: 50px 0 0 0;
        text-align: center;
    }
}

.navigation {
    max-width: 85%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    & ul li {
        text-align: start;
        padding: 5px;
        cursor: pointer;
        text-transform: capitalize;

        & a {
            display: flex;
            align-items: center;
            color: white;
            transition: all 0.4s ease;

            &:hover {
                color: aqua;
                cursor: pointer;
            }
        }
    }
}

.icon {
    margin: 0 5px;
}
