.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 50px;

    margin: 50px auto 100px;
    max-width: 100%;
    width: 100%;

    & svg {
        will-change: filter;
        transition: filter 300ms;

        &:hover {
            filter: drop-shadow(0 0 2em #646cffaa);
        }
    }
}
