.section {
    background-color: #fff;
}

.layout {
    padding: 150px 0;
    position: relative;

    transform: skewY(-3deg);
    height: auto;
    background-color: #0a2540;

    @media screen and (max-width: 425px) {
        padding: 100px 0;
    }
}

.container {
    max-width: 85%;
    margin: 50px auto;
    padding: 0 16px;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;

    transform: skewY(3deg);

    @media screen and (max-width: 992px) {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    @media screen and (max-width: 425px) {
        max-width: 95%;
        gap: 60px;
        margin: 20px auto;
    }
}

.item {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 992px) {
        gap: 15px;
    }

    & h4 {
        font-weight: 800;
        letter-spacing: 1px;
    }

    & h5 {
        font-weight: 800;
        letter-spacing: 1px;
    }

    & p {
        font-size: 18px;
        color: #adbdcc;
    }

    & h5,
    p {
        padding: 0 32px 0 16px;

        @media screen and (max-width: 425px) {
            padding: 0;
        }
    }
}

.itemBig {
    & p,
    h4 {
        padding: 0 100px 0 16px;

        @media screen and (max-width: 425px) {
            padding: 0;
        }
    }
}

.icon {
    margin: 0 0 0 16px;
    font-size: 24px;

    @media screen and (max-width: 425px) {
        margin: 0;
    }
}

.containerBtn {
    display: flex;
    flex-direction: row;

    & button {
        margin: 0 20px 0 16px;
        background-color: #00d4ff !important;
        color: #0a2540;
        transition: all 0.4s ease !important;

        @media screen and (max-width: 425px) {
            margin: 0 20px 0 0;
        }

        &:hover {
            background-color: transparent !important;
            color: white;
        }
    }
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: #00d4ff;
    transition: all 0.4s ease;

    &:hover {
        color: white;
    }
}
